<div [@routerTransition]>
    <app-page-header [heading]="'Novo Risco'" [icon]="'fa-edit'"></app-page-header>


            <form #riskForm = "ngForm">
                <div class="form-group">
                    <label for="name"> Risco </label>
                    <input class="form-control"
                           id="name"
                           required
                           name="name"
                           #name='ngModel'
                           [(ngModel)]="risk.name"
                    >
                </div>

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Nome do Risco é necessario
                </div>

                <label for="description"> Descrição do Risco</label>
                <div class="form-group">
                    <textarea type="text"
                              class="form-control"
                              rows="3"
                              id="description"
                              required
                              name="description"
                              #description='ngModel'
                              [(ngModel)]="risk.description"
                    ></textarea>
                </div>

                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    A descrição do risco é necessario
                </div>

                {{risk.description}}

                <div class="form-group">
                    <label for="probability_of_happen"> Probabilidade de acontecer </label>
                    <select
                        class="form-control"
                        id="probability_of_happen"
                        required
                        name="probability_of_happen"
                        #probability_of_happen='ngModel'
                        [(ngModel)]="risk.probability_of_happen"
                    >

                        <option value=0.01> Raro </option>
                        <option value=0.05> Incomum </option>
                        <option value=0.10> Comum </option>
                        <option value=0.20> Quase certo </option>

                    </select>

                </div>

                <div [hidden]="probability_of_happen.valid || probability_of_happen.pristine" class="alert alert-danger">
                    A probabilidade de acontecer é necessaria
                </div>

                {{risk.probability_of_happen}}

                <div class="form-group">
                    <label for="impact"> Impacto </label>
                    <select
                        class="form-control"
                        id="impact"
                        required
                        name="impact"
                        #impact='ngModel'
                        [(ngModel)]="risk.impact"
                    >

                        <option value=1> Pequeno </option>
                        <option value=5> Razoável </option>
                        <option value=9> Grande </option>
                        <option value=20> Extremo </option>

                    </select>

                </div>

                <div [hidden]="impact.valid || impact.pristine" class="alert alert-danger">
                    O impacto que causa é necessario
                </div>

                {{risk.impact}}

                <label for="treatment"> Tratamento do risco</label>
                <div class="form-group">
                    <textarea type="text"
                              id="treatment"
                              class="form-control"
                              rows="3"
                              required
                              name="treatment"
                              #treatment='ngModel'
                              [(ngModel)]="risk.treatment"
                    >
                    </textarea>
                </div>

                <div [hidden]="treatment.valid || treatment.pristine" class="alert alert-danger">
                    O tratamento do risco é necessario
                </div>

                <button type="submit" class="btn btn-secondary">Submeter</button>
                <button type="reset" class="btn btn-secondary">Limpar Campos</button>

            </form>
    <!-- /.row -->
</div>
