<div [@routerTransition]>
    <app-page-header [heading]="'Lista de Riscos'" [icon]="'fa-table'"></app-page-header>
        <div class="card mb-3">
            <div class="card-header">
                Basic example
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Risco</th>
                        <th>Probabilidade de acontecer</th>
                        <th>Impacto</th>
                        <th>Nivel de Risco</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let risk of risks" [ngClass]="{'table-danger': risk.severity > 1}">
                                <th> {{ risk.name }} </th>
                                <td> {{ risk.probability_of_happen}} </td>
                                <td> {{ risk.impact }} </td>
                                <td> {{ risk.severity}} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</div>
