<div class="card-body">
    <ul class="timeline">
        <li>
            <div class="timeline-badge success"><i class="fa fa-certificate"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Indisponibilidade da tecnologia ou serviço
                        especificado no mercado</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 horas atrás </small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Embora a área de TIC, seja muito dinâmica, as
                        tecnologias e serviços utilizados hoje pelo
                        PJRN estão baseadas em plataformas
                        padronizadas e de uso por diversas
                        instituições e todas as contratações apontam
                        para cuidados com relação à continuidade dos
                        serviços, desta forma preocupando-se com o
                        que acontecerá nos meses e anos subsequentes à contratação ou aquisição.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-exclamation-circle"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Mudança de Gestão do PJRN</h4>
                </div>
                <div class="timeline-body">
                    <p>É um marco cronológico e os projetos
                        previstos para o fim do ano de 2016 podem
                        sofrer nova priorização em função da transição
                        da gestão.</p>

                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Tramitação dos processos administrativos internamente (burocracia)</h4>
                </div>
                <div class="timeline-body">
                    <p>Participação de servidores da SETIC em
                        treinamentos de melhoria de processos,
                        produção de termo de referência e pesquisa
                        mercadológica.</p>
                </div>
            </div>
        </li>
    </ul>
</div>
