<div [@routerTransition]>
    <app-page-header [heading]="'Estatísticas'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Matrix de Risco Estratégico
                </div>
                <div class="card-body">
                    <p class="vertical-text"> <i class="fa fa-arrow-left fa-fw"></i> Probabilidade </p>
                    <table class="table" cellpadding="10">
                        <tbody>
                        <tr>
                            <th bgcolor="orange"> 0,2 </th>
                            <td bgcolor="red"> 1 </td>
                            <td bgcolor="red"> 1,8 </td>
                            <td bgcolor="red"> 4 </td>
                        </tr>

                        <tr>
                            <th bgcolor="yellow"> 0,1 </th>
                            <td bgcolor="orange"> 0,5 </td>
                            <td bgcolor="red"> 0,9 </td>
                            <td bgcolor="red"> 2 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0,05 </th>
                            <td bgcolor="yellow"> 0,25 </td>
                            <td bgcolor="orange"> 0,45 </td>
                            <td bgcolor="red"> 1 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0,01 </th>
                            <td bgcolor="green"> 0,05 </td>
                            <td bgcolor="yellow"> 0,09 </td>
                            <td bgcolor="orange"> 0,2 </td>
                        </tr>
                        </tbody>
                    </table>
                    <p align="center"> Impacto <i class="fa fa-arrow-right fa-fw"></i></p>
                </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Matrix de Risco Operacional
                </div>
                <div class="card-body">
                    <p class="vertical-text"> <i class="fa fa-arrow-left fa-fw"></i> Probabilidade </p>
                    <table class="table" cellpadding="10">
                        <tbody>
                        <tr>
                            <th bgcolor="orange"> 0 </th>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="yellow"> 0 </th>
                            <td bgcolor="orange"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0 </th>
                            <td bgcolor="yellow"> 0 </td>
                            <td bgcolor="orange"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0 </th>
                            <td bgcolor="green"> 0 </td>
                            <td bgcolor="yellow"> 0 </td>
                            <td bgcolor="orange"> 0 </td>
                        </tr>
                        </tbody>
                    </table>
                    <p align="center"> Impacto <i class="fa fa-arrow-right fa-fw"></i></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Matrix de Risco de Conformidade
                </div>
                <div class="card-body">
                    <p class="vertical-text"> <i class="fa fa-arrow-left fa-fw"></i> Probabilidade </p>
                    <table class="table" cellpadding="10">
                        <tbody>
                        <tr>
                            <th bgcolor="orange"> 0 </th>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="yellow"> 0 </th>
                            <td bgcolor="orange"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0 </th>
                            <td bgcolor="yellow"> 0 </td>
                            <td bgcolor="orange"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0 </th>
                            <td bgcolor="green"> 0 </td>
                            <td bgcolor="yellow"> 0 </td>
                            <td bgcolor="orange"> 0 </td>
                        </tr>
                        </tbody>
                    </table>
                    <p align="center"> Impacto <i class="fa fa-arrow-right fa-fw"></i></p>
                </div>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Matrix de Risco de Comunicação
                </div>
                <div class="card-body">
                    <p class="vertical-text">  <i class="fa fa-arrow-left fa-fw"></i> Probabilidade </p>
                    <table class="table" cellpadding="10">
                        <tbody>
                        <tr>
                            <th bgcolor="orange"> 0 </th>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="yellow"> 0 </th>
                            <td bgcolor="orange"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0 </th>
                            <td bgcolor="yellow"> 0 </td>
                            <td bgcolor="orange"> 0 </td>
                            <td bgcolor="red"> 0 </td>
                        </tr>

                        <tr>
                            <th bgcolor="green"> 0 </th>
                            <td bgcolor="green"> 0 </td>
                            <td bgcolor="yellow"> 0 </td>
                            <td bgcolor="orange"> 0 </td>
                        </tr>
                        </tbody>
                    </table>
                    <p align="center"> Impacto <i class="fa fa-arrow-right fa-fw"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
