<div [@routerTransition]>
    <h2 class="text-muted">Monitoramento de riscos</h2>
    <hr>
    <div class="card mb-3">
        <div class="card-header">
           <h4> Riscos recém Cadastrados</h4>
        </div>
        <div class="row card-body " >
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'success'" [icon]="'fa-certificate'" [count]="1" [label]="'Riscos de nível baixo'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'warning2'" [icon]="'fa-exclamation-circle'" [count]="1" [label]="'Riscos de nível moderado'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">

                <app-stat [bgClass]="'warning'" [icon]="'fa-exclamation-triangle'" [count]="0" [label]="'Riscos de nível alto'" ></app-stat>
            </div>
            <div class="col-xl-3 col-lg-6">
                <app-stat [bgClass]="'danger'" [icon]="'fa-bomb'" [count]="1" [label]="'Riscos de nível extremo'"></app-stat>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Timeline dos Riscos
                </div>
                <!-- /.card-header -->
                <app-timeline></app-timeline>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>
